<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Sebastian Algharaballi-Yanow</title>
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="header-step" id="step1">
        <h1 class="project-name">Hello! My name is Sebastian.</h1>
      </div>
      <div class="header-step" id="step2">
        <h2>I'm a Machine Learning Engineer and Data Scientist.</h2>
      </div>
      <div class="header-step" id="step3">
        <h2>This is my story thus far.</h2>
      </div>
    </header>
    <main id="content" class="main-content" role="main">
      <div class="profile-section">
        <img src="https://avatars.githubusercontent.com/u/95605946?v=4" alt="Sebastian Algharaballi-Yanow" class="profile-image">
        <p>Using data to storytell with precision.</p>
        <div class="profile-links">
          <a href="https://www.linkedin.com/in/sebastian-algharaballi-yanow/" class="btn">LinkedIn</a>
          <a href="mailto:sebastianalgharaballi@gmail.com" class="btn">Email</a>
          <a href="https://github.com/sebastianalgharaballi" class="btn">GitHub</a>
          <a href="Resume july.pdf" class="btn">Resume</a>
        </div>
      </div>
      <div id="collapsible-sections" class="collapsible-sections">
        <!-- Content will be dynamically loaded here -->
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
